<%= render 'link_to_fields' %>
<div class="field">
  <%= label_tag :form_style %>
  <%= text_field_tag :form_style %>
</div>
<div class="field">
  <%= label_tag :form_class %>
  <%= text_field_tag :form_class %>
</div>