<h1><%= params[:controller].humanize %> - <%= params[:action].humanize %> - <%= params[:method].humanize %></h1>

<%= form_tag(url_helper_test_helpers_perform_path(encode_method(params[:method]), params[:option])) do %>
  <%= render @partial if @partial.present? %>
  <%= render 'shared/html_attribute_fields', :prefix => :link %>
  <div class="actions">
    <%= submit_tag "Submit" %>
  </div>
<% end %>