<%= render 'text_field' %>
<div class="field">
  <%= label_tag :omission %>
  <%= text_field_tag :omission %>
</div>
<div class="field">
  <%= label_tag :block_content %>
  <%= text_field_tag :block_content %>
</div>