<% prefix ||= :html %>
<div class="field">
  <%= label_tag "#{prefix}_attribute_key" %>
  <%= select_tag "#{prefix}_attribute_key", options_for_select(ApplicationController::HTML_ATTRIBUTE_KEY_OPTIONS) %>
</div>
<div class="field">
  <%= label_tag "#{prefix}_attribute_value" %>
  <%= text_field_tag "#{prefix}_attribute_value" %>
</div>
<div class="field">
  <%= label_tag "#{prefix}_data_attribute_key" %>
  <%= select_tag "#{prefix}_data_attribute_key", options_for_select(ApplicationController::HTML_DATA_ATTRIBUTE_KEY_OPTIONS) %>
</div>
<div class="field">
  <%= label_tag "#{prefix}_data_attribute_value" %>
  <%= text_field_tag "#{prefix}_data_attribute_value" %>
</div>
