<h2>Tests</h2>
<p>
  Below you can find the several tests/framework functionality included in this module:
<p>

<%= render_module_tests('base') do %>
<ul>
  <li>ActionView automatic protection:
    <ul>
      <li><%= link_to 'automatic protection', base_test_automatic_protection_form_path('standard') %></li>
    </ul>
  </li>
  <li>ActionView::Helpers::SanitizeHelper methods:
    <ul>
      <li>sanitize:
        <%= link_to 'no tags no attributes allowed', base_test_sanitize_helper_form_path('sanitize', 'none') %>
        <%= link_to 'no tags allowed', base_test_sanitize_helper_form_path('sanitize', 'no_tags') %>
        <%= link_to 'no attributes allowed', base_test_sanitize_helper_form_path('sanitize', 'no_attributes') %>
        <%= link_to 'custom tags and attributes allowed', base_test_sanitize_helper_form_path('sanitize', 'custom') %>
        <%= link_to 'default', base_test_sanitize_helper_form_path('sanitize', 'default') %>
      </li>
      <li><%= link_to 'sanitize_css', base_test_sanitize_helper_form_path('sanitize_css') %></li>
      <li><%= link_to 'strip_tags', base_test_sanitize_helper_form_path('strip_tags') %></li>
    </ul>
  </li>
  <li>ActionView::Helpers::TagHelper:
    <ul>
      <li><%= link_to 'escape_once', base_test_tag_helper_form_path('escape_once') %></li>
    </ul>
  </li>
  <li>ActionView::Helpers::JavaScriptHelper:
    <ul>
      <li>escape_javascript:
        <%= link_to 'normal', base_test_javascript_helper_form_path('escape_javascript', 'normal') %>
        <%= link_to 'html_safe', base_test_javascript_helper_form_path('escape_javascript', 'html_safe') %>
      </li>
    </ul>
  </li>
  <li>ERB::Util methods:
    <ul>
      <li><%= link_to 'html_escape', base_test_erb_util_form_path('html_escape') %></li>
      <li><%= link_to 'html_escape_once', base_test_erb_util_form_path('html_escape_once') %></li>
      <li><%= link_to 'json_escape', base_test_erb_util_form_path('json_escape') %></li>
    </ul>
  </li>
</ul>
<% end %>

<%= render_module_tests('normal_helpers') do %>
<ul>
  <li>ActionView::Helpers::NumberHelper
    <ul>
      <li><%= link_to 'number_to_currency', normal_helpers_test_number_helper_form_path('number_to_currency') %></li>
      <li>number_to_human:
        <%= link_to 'units_as_string', normal_helpers_test_number_helper_form_path('number_to_human', 'units_as_string') %>
        <%= link_to 'units_as_hash', normal_helpers_test_number_helper_form_path('number_to_human', 'units_as_hash') %>
      </li>
      <li><%= link_to 'number_to_human_size', normal_helpers_test_number_helper_form_path('number_to_human_size') %></li>
      <li><%= link_to 'number_to_percentage', normal_helpers_test_number_helper_form_path('number_to_percentage') %></li>
      <li><%= link_to 'number_to_phone', normal_helpers_test_number_helper_form_path('number_to_phone') %></li>
      <li><%= link_to 'number_with_delimiter', normal_helpers_test_number_helper_form_path('number_with_delimiter') %></li>
      <li><%= link_to 'number_with_precision', normal_helpers_test_number_helper_form_path('number_with_precision') %></li>
    </ul>
  </li>
  <li>ActionView::Helpers::TagHelper
    <ul>
      <li><%= link_to 'cdata_section', normal_helpers_test_tag_helper_form_path('cdata_section') %></li>
      <li>content_tag:
        <%= link_to 'content as param', normal_helpers_test_tag_helper_form_path('content_tag', 'param') %>
        <%= link_to 'content as block', normal_helpers_test_tag_helper_form_path('content_tag', 'block') %>
      </li>
      <li>tag:
        <%= link_to 'open false', normal_helpers_test_tag_helper_form_path('tag', 'open_false') %>
        <%= link_to 'open true', normal_helpers_test_tag_helper_form_path('tag', 'open_true') %>
      </li>
    </ul>
  </li>
  <li>ActionView::Helpers::TextHelper:
    <ul>
      <li><%= link_to 'highlight', normal_helpers_test_text_helper_form_path('highlight') %></li>
      <li><%= link_to 'simple_format', normal_helpers_test_text_helper_form_path('simple_format') %></li>
      <li><%= link_to 'truncate', normal_helpers_test_text_helper_form_path('truncate') %></li>
    </ul>
  </li>
  <li>ActionView::Helpers::TranslationHelper:
    <ul>
      <li><%= link_to 'translate', normal_helpers_test_translation_helper_form_path('translate') %></li>
    </ul>
  </li>
  <li>ActionView::Helpers::UrlHelper:
    <ul>
      <li>button_to:
        <%= link_to 'name as param', normal_helpers_test_url_helper_form_path('button_to', 'param') %>
        <%= link_to 'name as block', normal_helpers_test_url_helper_form_path('button_to', 'block') %>
      </li>
      <li>link_to:
        <%= link_to 'name as param', normal_helpers_test_url_helper_form_path('link_to', 'param') %>
        <%= link_to 'name as block', normal_helpers_test_url_helper_form_path('link_to', 'block') %>
      </li>
      <li>link_to_if:
        <%= link_to 'condition true', normal_helpers_test_url_helper_form_path('link_to_if', 'true') %>
        <%= link_to 'condition false', normal_helpers_test_url_helper_form_path('link_to_if', 'false') %>
      </li>
      <li>link_to_unless:
        <%= link_to 'condition true', normal_helpers_test_url_helper_form_path('link_to_unless', 'true') %>
        <%= link_to 'condition false', normal_helpers_test_url_helper_form_path('link_to_unless', 'false') %>
      </li>
      <li>mail_to:
        <%= link_to 'name as param', normal_helpers_test_url_helper_form_path('mail_to', 'param') %>
        <%= link_to 'name as block', normal_helpers_test_url_helper_form_path('mail_to', 'block') %>
      </li>
    </ul>
  </li>
</ul>

<em>Unimplemented normal helpers:</em>
<ul>
  <li>ActiveModelHelper?: No direct methods. No html_safe/raw calls</li>
  <li>AssetTagHelper: 8 methods</li>
  <li>AssetURLHelper?: 31 methods. No html_safe/raw calls</li>
  <li>AtomFeedHelper: atom_feed? No html_safe/raw calls</li>
  <li>CacheHelper?: No html_safe/raw calls</li>
  <li>CsrfHelper: csrf_meta_tags?</li>
  <li>DateHelper: 16 methods</li>
  <li>DebugHelper: debug?</li>
  <li>JavaScriptHelper: javascript_tag, javascript_cdata_section</li>
  <li>NumberHelper: 7 helpers</li>
  <li>OutputSafetyHelper: safe_join</li>
  <li>RecordTagHelper</li>
</ul>
<% end %>

<%= render_module_tests('form_helpers') do %>
  <em>Completely unimplemented</em>
  <ul>
    <li>FormHelper: 24 methods. No direct html_safe/raw calls</li>
    <li>FormOptionsHelper: 11 methods.</li>
    <li>FormTagHelper: 29 methods.</li>
  </ul>
  Note: many overlap between FormHelper, FormTagHelper and Tags.
<% end %>

<%= render_module_tests('injection') do %>
<ul>
  <li><%= link_to 'automatic protection disabled', injection_test_injection_form_path('automatic_protection_disabled') %></li>
</ul>
<% end %>
